body {
  margin: 0;
  font-family: "Lora", serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hidden {
  display: none;
}

h1,
h2,
h3 {
  text-align: center;
}

p {
  font-family: "Montserrat", sans-serif;
}
label {
  display: block;
}

button {
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 12px;
  margin: 5%;
  width: 40%;
}

button:hover {
  transform: scale(1.2);
}

.main {
  width: 90%;
  margin: auto;
}

.feedback {
  border: 3px solid aquamarine;
  border-radius: 10px;
  padding: 12px 0;
}

.result-img {
  margin: auto;
  width: 100%;
}

@media all and (min-width: 550px) {
  .main {
    width: 50%;
  }
}
