body {
  background-color: #262730;
  color: #eff0d1;
  margin: 10% 0;
  font-family: "Lora", serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  display: none;
}

h1,
h2,
h3 {
  text-align: center;
}

p {
  font-family: "Montserrat", sans-serif;
}

form {
  margin: auto;
  width: 75%;
}

label {
  display: block;
  cursor: pointer;
  font-size: 18px;
  margin: 24px 2%;
}

label:before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 18px;
  background: #ffffff;
  border-radius: 50%;
  z-index: 2;
  transition: box-shadow 0.4s ease, background 0.4s ease;
}

input:checked + label:before {
  background: #77ba99;
}

input[type="radio"] {
  display: none;
}

button {
  background-color: #77ba99;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 12px 3px;
  margin: 2%;
  width: 46%;
}

button:hover {
  transform: scale(1.05);
}

.title {
  width: 90%;
  margin: auto;
}

.content {
  margin-left: 2%;
}

.feedback {
  border-radius: 10px;
  padding: 12px 6px;
  margin-left: 2%;
}

.correct {
  border: 3px solid #77ba99;
  color: #77ba99;
}

.wrong {
  border: 3px solid #d33f49;
  color: #d33f49;
}

.select-feed {
  border: 3px solid #d33f49;
  background-color: #d33f49;
}

.result-img {
  margin: auto;
  width: 100%;
}

.result p {
  text-align: center;
}

.not-found img {
  display: block;
  margin: auto;
  width: 75%;
}

@media all and (min-width: 330px) {
  button {
    padding: 12px;
  }
}

@media all and (min-width: 620px) {
  .title {
    width: 60%;
  }
}
